*{
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
}
i{
    color: red;
    font-size: 3rem;
    pointer-events: auto;
    cursor: pointer;
}
.slider{
    position: absolute;
    left: 10%;
    top: 30%;
    width: 80%;
    height: 200px;
    overflow: hidden;
}
.slider-inner{
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 200%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
    pointer-events: none;

}
.slider-img{
    height: 100%;
    background-color:black;
    text-align: center;
    padding: 3rem;
}